.alarm-list-container{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    width: 100%;
}

li{
    width: 33%;
    min-width: 350px;
}
