<h3>Events</h3>
<ul class="alarm-list-container">
  <li class="card-body" *ngFor="let alarm of alarms | async">
    <app-alarm
            (deletedAlarm)="updateList()"
            [alarm]="alarm"></app-alarm>
  </li>
</ul>
