<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Raspclock</title>
</head>
<body>
<div class="container">
    <header>
        <img id="logoHeader" src="assets/img/clock.png">
        <h1>Raspclock</h1>
    </header>


    <button *ngIf="showCreateAlarmButton" class="btn btn-success" (click)="toogleAlarmCreator()">Ajouter un event
    </button>
    <app-create-alarm *ngIf="showCreateAlarm"
                      (cancel)=toogleAlarmCreator()
                      (sumbittedAlarm)=toggleSubmitValue($event)
    ></app-create-alarm>

    <div *ngIf="showSubmitValue">
        <div *ngIf="submitValue" class="alert alert-success" role="alert">
            {{submitMessage}}
        </div>
        <div *ngIf="!submitValue" class="alert alert-danger" role="alert">
            {{submitMessage}}
        </div>
    </div>
    <app-list-alarms [forceChange]="timestamp">
    </app-list-alarms>
</div>
</body>
</html>
