<div class="form-group row">
    <div class="col-10">
        <input  [(ngModel)]="hour" placeholder="hour" required type="number" value="" min="0" max="23">
    </div>
</div>
<div class="form-group row">
    <div class="col-10">
        <input [(ngModel)]="min" placeholder="minutes" required type="number" value="" min="0" max="59">
    </div>
</div>
<ul class="listOfDays">
    <li *ngFor="let day of listOfDays" class="dayPill">
        <div>
            <button (click)="updateDayList(day)" class="badge-pill badge-primary" *ngIf="toggleDays.includes(day)">{{nameOfDays[day - 1]}}</button>
            <button (click)="updateDayList(day)" class="badge-pill badge-light" *ngIf="!toggleDays.includes(day)">{{nameOfDays[day - 1]}}</button>
        </div>
    </li>
</ul>

<div class="form-group">
    <label for="exampleFormControlSelect1">Audio</label>
    <select required [(ngModel)]="audioSelectedId" class="form-control" id="exampleFormControlSelect1">
        <option *ngFor="let audio of listOfAudios" class="dropdown-item" value="{{audio.id}}">{{audio.name}}</option>
    </select>
</div>


<div class="alarmsButtons">
    <a (click)="cancelAlarmCreation()" href="#" class="deleteButton btn btn-light">Cancel</a>
</div>
<div class="alarmsButtons">
    <a (click)="createAlarm()" href="#" class="btn btn-success">Create</a>
</div>
