.badge-pill {
    padding: 0;
    border: none;
    width: 30px;
}

.dayPill {
    width: 30px;
    text-align: center;
    margin: 0px 5px 10px 0px;

}

.listOfDays {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
    flex-wrap: wrap;
}
