.card {
    max-width: 350px;
}

.card-body {
    list-style-type: none;
}

.card-title {
    text-align: center;
}

.dayPill {
    width: 30px;
    text-align: center;
    margin: 0px 5px 10px 0px;

}

.listOfDays {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
    flex-wrap: wrap;
}

.alarmsButtons {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 10px;
}


.alarmsButtons a {
    width: 48%;
}

.badge-pill {
    padding: 0;
    border: none;
    width: 30px;
}

.statusPill {
    width: 60px;
    text-transform: uppercase
}

.deleteButton:hover {
    background-color: crimson;
    color: white;
}

.deleteButton:active {
    background-color: red;
    color: white;
}

.listOfAudio{
    list-style-type: none;
    padding: 0;
}


