<div class="card" style="width: 18rem;">
    <div class="card-body">
        <div>
            <button (click)="updateStatus(false)" class="badge-pill badge-success statusPill" *ngIf="statusToggle">on
            </button>
            <button (click)="updateStatus(true)" class="badge-pill badge-danger statusPill" *ngIf="!statusToggle">off
            </button>
        </div>
        <h1 class="card-title">{{displayDigit(hourInt)}} : {{displayDigit(minuteInt)}}</h1>
        <ul class="listOfDays">
            <li *ngFor="let day of listOfDays" class="dayPill">
                <div>
                    <button (click)="updateDay(day)" class="badge-pill badge-primary"
                            *ngIf="toggleDays.includes(day)">{{nameOfDays[day - 1]}}</button>
                    <button (click)="updateDay(day)" class="badge-pill badge-light"
                            *ngIf="!toggleDays.includes(day)">{{nameOfDays[day - 1]}}</button>
                </div>
            </li>
        </ul>
        <ul class="listOfAudio">
                <div class="card-header">Audio</div>
                <div class="card-body text-primary">
                    <h5 *ngFor="let audio of alarm.audioAssignements" class="card-text"><a href="{{audio.url}}">{{audio.name}}</a></h5>
                </div>
        </ul>

        <div class="alarmsButtons">
            <a (click)="deleteAlarm()" href="#" class="deleteButton btn btn-light">Delete</a>
        </div>
    </div>
</div>
